@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300,&display=swap');

/* Main Html index */

.nav{
    width: 100%;
    display: left;
}

.nav-item1{
   width: 100%;
  
}


ul li a{
    font-size: 40px;
    letter-spacing: 20%;
    
}

body {
    color: cadetblue;
    
    
}

 .home-back{
     background-color: #3f656e;
 }

 h3 {
     background-color: rgb(241, 241, 241);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

h1{
    color: rgb(26, 121, 121);
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    
}

.index{
    margin: 5px;
    padding: 5px;
    
}

li a h2{
    
    color: cadetblue;
    font-size: 40px
    
}



li a h2:hover{
    color: rgb(116, 189, 192);
    background-color: rgb(241, 232, 232);
}

.contact{
    text-align: center;
    color: azure;
    font-size: 60px;
    font-weight: 800;
    
}
.contact2{
     text-align: center;
     color: rgb(232, 245, 245);
    
}


#cvstyles{
    text-decoration: none;
}

/* socials */
.social-heading{
    width: 100%;
     font-size: 20px;
     margin: 5px;
     padding: 5px;
    background-color: rgb(230, 229, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.social{
    font-size: 40px;
    color: cadetblue;
}

 ul li a{
    color: cadetblue;
    height: 50%;

 }

.cv{
    color: cadetblue;
    text-decoration: none;
    
}

 a h2 .cv{
    text-decoration: none;
    float: right;
    margin: 5px;
    padding: 5px;
    text-align: right;

}

.cv:hover{
    color: rgb(235, 190, 174);
    text-decoration: none;
    
}

/* work styles */

#cv4{
   color: cadetblue;
   text-decoration: none;
}

#cv4:hover{
    background-color: rgb(235, 190, 174);
    text-decoration: none;
}

.work-style{
    text-align: center;
}

ul li{
    text-align: center;
}

li h3 h4{
    padding: 0;
}

 li{
 font-size: 20px;
}

.work-heading{
    color: rgb(28, 116, 116);
}

/* Styles for contact form */

* {
  box-sizing: border-box;
}

/* Style inputs */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(184, 184, 184);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8d8d8d;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* images styles */
.avatar {  
  vertical-align: middle;
  width: 250px;
  height: 300px;
  border-radius: 50%;
  padding: 1px;
  border: 5px solid #393a3b;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  background-color: #3f656e;
  
}

.menu{
    text-align: center;
}

.footer-back{
    text-align: center;
    
}


/* my info styles */

.me{
    color: rgb(28, 116, 116);
    width: 100%;
    background-color: rgb(240, 239, 239);
    margin: 5px;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 600;
  }

    .row  {
        font-size: 18px;
       
    }

    #cv3{
        float: right;
    }

    .info-back{
        background-color: rgb(218, 229, 233);
    }

    .container{
    color: #3f656e;
    padding: 5px;
    }

    


 /* contact styles */
 .body-contact{
     background-color: #3f656e;   

 }


 

 